[submodule "HelloEthernaut/lib/forge-std"]
	path = HelloEthernaut/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Fallback/lib/forge-std"]
	path = Fallback/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Fallout/lib/forge-std"]
	path = Fallout/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Fallout/lib/openzeppelin-contracts"]
	path = Fallout/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "CoinFlip/lib/forge-std"]
	path = CoinFlip/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Telephone/lib/forge-std"]
	path = Telephone/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Token/lib/forge-std"]
	path = Token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Delegation/lib/forge-std"]
	path = Delegation/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Force/lib/forge-std"]
	path = Force/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Vault/lib/forge-std"]
	path = Vault/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "King/lib/forge-std"]
	path = King/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Re-entrancy/lib/forge-std"]
	path = Re-entrancy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Re-entrancy/lib/openzeppelin-contracts"]
	path = Re-entrancy/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
